
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

.env
.env.*
.env.example
*.pem

backend/staticfiles/
backend/media/
backend/db.sqlite3
backend/db.sqlite3-journal
*.log


.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.coverage.xml
*.cover

.mypy_cache/
.dmypy.json
.pyre/
.ruff_cache/
.flake8

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db
Desktop.ini

*.pid
pgdata/
postgres_data/


./README.md